openapi: 3.0.3
info:
  title: Arali API
  description: API for managing customer relationships, tracking interactions, and gaining insights
  version: 1.0.0
  contact:
    name: Arali Support
    email: support@arali.ai
    url: https://arali.ai

servers:
  - url: https://api.arali.ai
    description: Production server

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Enter your API token"

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        details:
          type: string
          description: Additional error details
        schema:
          type: string
          description: Reference to schema endpoint

    BatchResponse:
      type: object
      properties:
        success:
          type: boolean
        summary:
          type: object
          properties:
            total:
              type: integer
            success:
              type: integer
            failed:
              type: integer
        results:
          type: array
          items:
            type: object
            properties:
              externalId:
                type: string
              status:
                type: string
                enum: [success, skipped, failed]
              reason:
                type: string

    Company:
      type: object
      required:
        - name
        - externalId
      properties:
        name:
          type: string
          description: Company display name
          example: "Acme Corporation"
        externalId:
          type: string
          description: Primary External ID. Used for integration mapping lookup.
          example: "hubspot_12345"
        externalCompanyId:
          type: string
          nullable: true
          description: Secondary External ID. Stored on the record. Defaults to externalId if not provided.
          example: "CRM_001"
        domain:
          type: string
          nullable: true
          description: Company website domain
          example: "acme.com"
        lifecycleStage:
          type: string
          enum: [lead, prospect, customer, expansion, churned, lost, partner, other]
          default: lead
          description: Company lifecycle stage
        ownerUserId:
          type: string
          format: uuid
          nullable: true
          description: Owner user ID
        arr:
          type: integer
          nullable: true
          description: Annual Recurring Revenue
        attributes:
          type: object
          description: Custom key-value attributes
        properties:
          type: object
          description: Custom field values

    Account:
      type: object
      required:
        - name
        - externalId
        - externalCompanyId
      properties:
        name:
          type: string
          description: Account display name
          example: "Acme Enterprise Account"
        externalId:
          type: string
          description: Primary External ID. Used for integration mapping lookup.
          example: "vitally_acc_12345"
        externalAccountId:
          type: string
          nullable: true
          description: Secondary External ID. Stored on the record. Defaults to externalId if not provided.
          example: "CRM_ACC_001"
        externalCompanyId:
          type: string
          description: External ID of the parent company
          example: "hubspot_12345"
        domain:
          type: string
          nullable: true
          description: Account domain
        accountType:
          type: string
          nullable: true
          description: Account type/tier
          example: "enterprise"
        ownerUserId:
          type: string
          format: uuid
          nullable: true
          description: Owner user ID
        healthScore:
          type: integer
          minimum: 0
          maximum: 100
          nullable: true
          description: Health score (0-100)
        healthScoreComputedAt:
          type: string
          format: date-time
          nullable: true
        healthScoreBreakdown:
          type: object
          nullable: true
        arr:
          type: integer
          nullable: true
          description: Annual Recurring Revenue
        metadata:
          type: object
          description: Custom key-value metadata
        properties:
          type: object
          description: Custom field values

    ContactUpsert:
      type: object
      required:
        - externalId
      properties:
        externalId:
          type: string
          description: External unique ID from integration source
          example: "hubspot_contact_12345"
        fullName:
          type: string
          nullable: true
          description: Contact's full name
          example: "John Doe"
        title:
          type: string
          nullable: true
          description: Job title
          example: "VP of Engineering"
        ownerUserId:
          type: string
          format: uuid
          nullable: true
          description: Owner user UUID
        emails:
          type: array
          items:
            type: object
            required:
              - email
            properties:
              email:
                type: string
              isPrimary:
                type: boolean
                default: false
              label:
                type: string
                nullable: true
        phones:
          type: array
          items:
            type: object
            required:
              - phone
            properties:
              phone:
                type: string
              isPrimary:
                type: boolean
                default: false
              label:
                type: string
                nullable: true
        attributes:
          type: object
        properties:
          type: object

    ContactUpdate:
      type: object
      properties:
        fullName:
          type: string
          nullable: true
          description: Contact's full name
        title:
          type: string
          nullable: true
          description: Job title
        ownerUserId:
          type: string
          format: uuid
          nullable: true
          description: Owner user UUID
        emails:
          type: array
          items:
            type: object
            required:
              - email
            properties:
              email:
                type: string
              isPrimary:
                type: boolean
                default: false
              label:
                type: string
                nullable: true
        phones:
          type: array
          items:
            type: object
            required:
              - phone
            properties:
              phone:
                type: string
              isPrimary:
                type: boolean
                default: false
              label:
                type: string
                nullable: true
        attributes:
          type: object
        properties:
          type: object

    Association:
      type: object
      properties:
        contactId:
          type: string
          format: uuid
          description: Internal UUID of the contact
        externalContactId:
          type: string
          description: External ID of the contact
        companyId:
          type: string
          format: uuid
          description: Internal UUID of the company
        externalCompanyId:
          type: string
          description: External ID of the company
        accountId:
          type: string
          format: uuid
          description: Internal UUID of the account
        externalAccountId:
          type: string
          description: External ID of the account
        relation:
          type: string
          enum: [employee, decision_maker, champion, end_user, influencer]
          default: employee
        isPrimary:
          type: boolean
          default: false
        role:
          type: string
          description: Role for contact_account association

    Call:
      type: object
      required:
        - externalCallId
      properties:
        externalCallId:
          type: string
          description: External unique ID from call provider
          example: "aircall_call_12345"
        direction:
          type: string
          enum: [inbound, outbound, unknown]
          default: unknown
        status:
          type: string
          enum: [completed, missed, voicemail, failed, busy, cancelled, unknown]
          default: completed
        fromNumber:
          type: string
          nullable: true
          description: Phone number the call originated from
        toNumber:
          type: string
          nullable: true
          description: Phone number the call was made to
        durationSeconds:
          type: number
          nullable: true
          description: Call duration in seconds
        ringDurationSeconds:
          type: number
          nullable: true
        startTimestamp:
          type: string
          format: date-time
          nullable: true
        endTimestamp:
          type: string
          format: date-time
          nullable: true
        recordingUrl:
          type: string
          nullable: true
          description: URL to call recording
        customer:
          type: object
          properties:
            phone:
              type: string
            email:
              type: string
            name:
              type: string
        orgUnitIds:
          type: array
          items:
            type: string
            format: uuid
        orgUnitId:
          type: string
          format: uuid
        metadata:
          type: object
        title:
          type: string
          nullable: true

    Meeting:
      type: object
      required:
        - scheduledStartAt
        - scheduledEndAt
      properties:
        scheduledStartAt:
          type: string
          format: date-time
          description: Scheduled start time
        scheduledEndAt:
          type: string
          format: date-time
          description: Scheduled end time
        title:
          type: string
          description: Meeting title/subject
          default: "empty title"
        channel:
          type: string
          enum: [gmeet, zoom, teams, offline]
        joinUrl:
          type: string
          nullable: true
          description: URL to join the meeting
        status:
          type: string
          enum: [scheduled, skip, in_progress, cancelled, completed, deleted, error]
          default: scheduled
        externalMeetingId:
          type: string
          nullable: true
          description: External unique ID from calendar source
        hostEmail:
          type: string
          nullable: true
          description: Email of meeting host/organizer
        participantEmails:
          type: array
          items:
            type: string
        orgUnitIds:
          type: array
          items:
            type: string
            format: uuid
        orgUnitId:
          type: string
          format: uuid
        recurringMeetingId:
          type: string
          nullable: true
        type:
          type: string
          enum: [external, internal]
        metadata:
          type: object

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique user ID
        name:
          type: string
          description: Display name of the user
        email:
          type: string
          format: email
          description: Email address of the user
        phone:
          type: string
          nullable: true
          description: Phone number of the user
        provider:
          type: string
          nullable: true
          description: "Auth provider (e.g. google, local)"
        orgUnitId:
          type: string
          format: uuid
          nullable: true
          description: UUID of the org unit this user belongs to within the enterprise
        orgUnitName:
          type: string
          nullable: true
          description: Name of the org unit
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ActionItem:

      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique action item ID
        interactionId:
          type: string
          format: uuid
          nullable: true
          description: ID of the linked interaction (optional)
        enterpriseId:
          type: string
          format: uuid
        participantId:
          type: string
          format: uuid
          nullable: true
          description: Linked participant (optional)
        ownerUserId:
          type: string
          format: uuid
          nullable: true
          description: Owning app user (optional)
        ownerName:
          type: string
          nullable: true
        ownerEmail:
          type: string
          nullable: true
        title:
          type: string
          description: Short title of the action item
        description:
          type: string
          nullable: true
        dueAt:
          type: string
          format: date-time
          nullable: true
        timestamp:
          type: string
          nullable: true
          description: Transcript timestamp reference (HH:MM:SS)
        currentStageId:
          type: string
          format: uuid
          nullable: true
          description: UUID of the pipeline stage
        stageName:
          type: string
          nullable: true
          description: Name of the pipeline stage
        stageBucket:
          type: string
          nullable: true
          description: Bucket of the pipeline stage (e.g., open, done, archived)
        priority:
          type: string
          enum: [low, medium, high, blocker]
          default: medium
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ActionItemCreate:
      type: object
      required:
        - title
      properties:
        interactionId:
          type: string
          format: uuid
          nullable: true
          description: UUID of the interaction this action item belongs to (optional)
        participantId:
          type: string
          format: uuid
          nullable: true
        ownerUserId:
          type: string
          format: uuid
          nullable: true
        title:
          type: string
          description: Short title (required)
        description:
          type: string
          nullable: true
        dueAt:
          type: string
          format: date-time
          nullable: true
        timestamp:
          type: string
          nullable: true
          description: Transcript reference (HH:MM:SS)
        stageId:
          type: string
          format: uuid
          nullable: true
          description: UUID of the pipeline stage to assign. If omitted, uses default.
        entities:
          type: array
          description: Optional list of explicit entity mappings
          items:
            type: object
            required: [entityType, entityId]
            properties:
              entityType:
                type: string
                enum: [company, contact, interaction, account]
              entityId:
                type: string
                format: uuid
        priority:
          type: string
          enum: [low, medium, high, blocker]
          default: medium

    ActionItemUpdate:
      type: object
      properties:
        participantId:
          type: string
          format: uuid
          nullable: true
        ownerUserId:
          type: string
          format: uuid
          nullable: true
        title:
          type: string
        description:
          type: string
          nullable: true
        dueAt:
          type: string
          format: date-time
          nullable: true
        timestamp:
          type: string
          nullable: true
        stageId:
          type: string
          format: uuid
          nullable: true
        entities:
          type: array
          items:
            type: object
            properties:
              entityType:
                type: string
                enum: [company, contact, interaction, account]
              entityId:
                type: string
                format: uuid
        priority:
          type: string
          enum: [low, medium, high, blocker]

    FieldDefinition:
      type: object
      required:
        - fieldKey
        - fieldName
        - fieldType
        - entityType
      properties:
        fieldKey:
          type: string
          description: Unique key for the field
          example: "contract_start_date"
        fieldName:
          type: string
          description: Display name for the field
          example: "Contract Start Date"
        fieldType:
          type: string
          enum: [text, number, date, boolean, json, enum]
        entityType:
          type: string
          enum: [company, account, contact]
        enumOptions:
          type: array
          items:
            type: string
          description: Valid options for enum field type
        isRequired:
          type: boolean
          default: false
        displayOrder:
          type: integer
          description: Order for UI display

    FieldValue:
      type: object
      required:
        - fieldKey
        - value
      properties:
        fieldKey:
          type: string
          description: Key of the field definition
        value:
          description: Value matching the field type

    Deal:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
          nullable: true
        accountId:
          type: string
          format: uuid
          nullable: true
        parentDealId:
          type: string
          format: uuid
          nullable: true
        pipelineId:
          type: string
          format: uuid
        currentStageId:
          type: string
          format: uuid
        title:
          type: string
        dealType:
          type: string
          enum: [new_business, expansion, renewal, upsell, contraction, churn_save]
        status:
          type: string
          enum: [open, won, lost, cancelled]
        ownerUserId:
          type: string
          format: uuid
          nullable: true
        amountCents:
          type: number
          nullable: true
        currency:
          type: string
          default: INR
        expectedCloseDate:
          type: string
          format: date
          nullable: true
        closedAt:
          type: string
          format: date-time
          nullable: true
        externalDealId:
          type: string
          nullable: true
        planId:
          type: string
          format: uuid
          nullable: true
        productId:
          type: string
          format: uuid
          nullable: true
        subscriptionId:
          type: string
          format: uuid
          nullable: true
        lineItemId:
          type: string
          format: uuid
          nullable: true
        metadata:
          type: object
        transitionReason:
          type: string
          nullable: true

    Pipeline:
      type: object
      properties:
        id:
          type: string
          format: uuid
        entityType:
          type: string
          enum: [deal, action_item, ticket]
          default: action_item
        orgUnitId:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        description:
          type: string
          nullable: true
        isDefault:
          type: boolean
          default: false
        createdByUserId:
          type: string
          format: uuid
          nullable: true

    PipelineStage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        pipelineId:
          type: string
          format: uuid
        name:
          type: string
        bucket:
          type: string
          enum: [open, in_progress, blocked, done, archived]
          default: open
        color:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        sortOrder:
          type: integer
          default: 0
        isTerminal:
          type: boolean
          default: false
        winProbability:
          type: number
          nullable: true

    ProductLine:
      type: object
      properties:
        id:
          type: string
          format: uuid
        key:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, archived]
          default: active
        sortOrder:
          type: integer
          default: 0

    MetricDefinition:
      type: object
      properties:
        id:
          type: string
          format: uuid
        key:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        type:
          type: string
          enum: [aggregation, derived, ratio, funnel]
          default: aggregation
        source:
          type: string
          default: events
        definitionJson:
          type: object
        unit:
          type: string
          nullable: true
        higherIsBetter:
          type: boolean
          default: false
        defaultGrain:
          type: string
          enum: [minute, hour, day]
          nullable: true
        isActive:
          type: boolean
          default: true
        version:
          type: integer
          default: 1

    MetricComputation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        metricId:
          type: string
          format: uuid
        metricVersion:
          type: number
          default: 1
        eventKey:
          type: string
          nullable: true
        productId:
          type: string
          format: uuid
          nullable: true
        companyId:
          type: string
          format: uuid
          nullable: true
        accountId:
          type: string
          format: uuid
          nullable: true
        valueNumber:
          type: number
          nullable: true
        valueJson:
          type: object
          nullable: true
        computedAt:
          type: string
          format: date-time
          nullable: true
        metadata:
          type: object
          nullable: true

    MetricAggregate:
      type: object
      properties:
        id:
          type: string
          format: uuid
        metricId:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
          nullable: true
        productId:
          type: string
          format: uuid
          nullable: true
        grain:
          type: string
          enum: [minute, hour, day]
        windowStart:
          type: string
          format: date-time
        windowEnd:
          type: string
          format: date-time
        value:
          type: number

    ProductEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        productId:
          type: string
          format: uuid
          nullable: true
        companyId:
          type: string
          format: uuid
          nullable: true
        accountId:
          type: string
          format: uuid
          nullable: true
        userId:
          type: string
          format: uuid
          nullable: true
        eventName:
          type: string
        eventKey:
          type: string
          nullable: true
        eventTimestamp:
          type: string
          format: date-time
        valueNumber:
          type: number
          nullable: true
        valueJson:
          type: object
          nullable: true
        dimensions:
          type: object
          nullable: true

paths:
  # Companies
  /api/v1/companies:
    post:
      operationId: createCompanies
      summary: Create/Update Companies
      description: Batch create or update company records
      tags:
        - Companies
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - companies
              properties:
                companies:
                  type: array
                  items:
                    $ref: '#/components/schemas/Company'
            example:
              companies:
                - name: "Acme Corporation"
                  externalId: "hubspot_12345"
                  externalCompanyId: "CRM_001"
                  domain: "acme.com"
                   lifecycleStage: "customer"
                   arr: 120000
                  attributes:
                    industry: "Technology"
                    employee_count: 500
      responses:
        '200':
          description: Batch operation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires companies:write scope

    get:
      operationId: listCompanies
      summary: List Companies
      description: |
        Get all companies for your enterprise with optional filtering and pagination.
        Supports filtering by stage (via stageKey or stageId) and by custom field values (via fields[fieldKey]).
      tags:
        - Companies
      security:
        - BearerAuth: []
      parameters:
        - name: externalCompanyId
          in: query
          required: false
          schema:
            type: string
          description: Filter by custom external company ID
        - name: stageKey
          in: query
          required: false
          schema:
            type: string
          description: |
            Filter by stage key(s). Supports comma-separated values for multiple stages.
            Keys must match a `key` in the stage_definitions table.
          example: "lead,customer"
        - name: stageId
          in: query
          required: false
          schema:
            type: string
          description: |
            Filter by stage definition UUID(s). Supports comma-separated UUIDs.
            Can be combined with stageKey (intersection).
          example: "550e8400-e29b-41d4-a716-446655440000"
        - name: fields[fieldKey]
          in: query
          required: false
          schema:
            type: string
          description: |
            Filter by custom field values. Replace `fieldKey` with the actual field key
            from your field_definitions table (e.g. `fields[tier]=enterprise`).
            Multiple field filters are AND-ed — a company must match ALL specified filters.
            Matching is case-insensitive for text/enum fields.
          example: "enterprise"
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number for pagination (starts at 1)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
          description: Number of results per page (max 200)
      responses:
        '200':
          description: Paginated list of companies with stage and field value enrichment
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Company'
                        - type: object
                          properties:
                            stage:
                              type: object
                              nullable: true
                              description: Resolved stage definition details
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                key:
                                  type: string
                                name:
                                  type: string
                                bucket:
                                  type: string
                                  enum: [pre_sale, onboarding, live, paused, churned]
                                scope:
                                  type: string
                                  enum: [company, account]
                            fieldValues:
                              type: array
                              description: Custom field values associated with this company
                              items:
                                type: object
                                properties:
                                  fieldKey:
                                    type: string
                                  fieldName:
                                    type: string
                                  fieldType:
                                    type: string
                                    enum: [text, number, date, boolean, json, enum]
                                  value:
                                    description: The field value (type depends on fieldType)
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: Total number of matching companies
                      page:
                        type: integer
                      limit:
                        type: integer
                      totalPages:
                        type: integer
                      enterpriseId:
                        type: string
                        format: uuid
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires companies:read scope

  /api/v1/companies/{id}:
    get:
      operationId: getCompany
      summary: Get Company
      description: Get a single company by ID
      tags:
        - Companies
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Company UUID
      responses:
        '200':
          description: Company details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Company'
        '404':
          description: Company not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires companies:read scope

    put:
      operationId: updateCompany
      summary: Update Company
      description: Update a single company
      tags:
        - Companies
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Company UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
      responses:
        '200':
          description: Company updated
        '404':
          description: Company not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires companies:write scope

    delete:
      operationId: deleteCompany
      summary: Delete Company
      description: Delete a company
      tags:
        - Companies
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Company UUID
      responses:
        '200':
          description: Company deleted
        '404':
          description: Company not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires companies:delete scope

  # Accounts
  /api/v1/accounts:
    post:
      operationId: createAccounts
      summary: Create/Update Accounts
      description: Batch create or update account records
      tags:
        - Accounts
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accounts
              properties:
                accounts:
                  type: array
                  items:
                    $ref: '#/components/schemas/Account'
            example:
              accounts:
                - name: "Acme Enterprise Account"
                  externalId: "vitally_acc_12345"
                  externalAccountId: "CRM_ACC_001"
                  externalCompanyId: "hubspot_12345"
                  domain: "acme.com"
                  accountType: "enterprise"
                  healthScore: 85
                  arr: 120000
                  metadata:
                    tier: "premium"
                    contract_start: "2024-01-01"
      responses:
        '200':
          description: Batch operation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires accounts:write scope

    get:
      operationId: listAccounts
      summary: List Accounts
      description: Get all accounts for your enterprise
      tags:
        - Accounts
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires accounts:read scope

  /api/v1/accounts/{id}:
    get:
      operationId: getAccount
      summary: Get Account
      description: Get a single account by ID
      tags:
        - Accounts
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Account UUID
      responses:
        '200':
          description: Account details
        '404':
          description: Account not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires accounts:read scope

    put:
      operationId: updateAccount
      summary: Update Account
      description: Update a single account
      tags:
        - Accounts
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Account UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        '200':
          description: Account updated
        '404':
          description: Account not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires accounts:write scope

    delete:
      operationId: deleteAccount
      summary: Delete Account
      description: Delete an account
      tags:
        - Accounts
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Account UUID
      responses:
        '200':
          description: Account deleted
        '404':
          description: Account not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires accounts:delete scope

  # Contacts
  /api/v1/contacts:
    post:
      operationId: createContacts
      summary: Create/Update Contacts
      description: Batch create or update contact records
      tags:
        - Contacts
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contacts
              properties:
                contacts:
                  type: array
                  items:
                    $ref: '#/components/schemas/ContactUpsert'
            example:
              contacts:
                - externalId: "contact_12345"
                  fullName: "John Doe"
                  title: "VP of Engineering"
                  emails:
                    - email: "john.doe@acme.com"
                      isPrimary: true
                      label: "Work"
                  phones:
                    - phone: "+1-555-123-4567"
                      isPrimary: true
                      label: "Mobile"
                  attributes:
                    linkedin: "https://linkedin.com/in/johndoe"
                    timezone: "America/New_York"
      responses:
        '200':
          description: Batch operation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires contacts:write scope

    get:
      operationId: listContacts
      summary: List Contacts
      description: Get all contacts for your enterprise
      tags:
        - Contacts
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 100
          description: "Number of contacts to return (max: 100)"
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          description: Number of contacts to skip
      responses:
        '200':
          description: List of contacts
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires contacts:read scope

  /api/v1/contacts/{id}:
    get:
      operationId: getContact
      summary: Get Contact
      description: Get a single contact by ID (includes emails, phones, companies)
      tags:
        - Contacts
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Contact UUID
      responses:
        '200':
          description: Contact details
        '404':
          description: Contact not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires contacts:read scope

    put:
      operationId: updateContact
      summary: Update Contact
      description: Update a single contact
      tags:
        - Contacts
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Contact UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdate'
      responses:
        '200':
          description: Contact updated
        '404':
          description: Contact not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires contacts:write scope

    delete:
      operationId: deleteContact
      summary: Delete Contact
      description: Delete a contact
      tags:
        - Contacts
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Contact UUID
      responses:
        '200':
          description: Contact deleted
        '404':
          description: Contact not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires contacts:delete scope

  # Associations
  /api/v1/associations:
    post:
      operationId: createAssociations
      summary: Create/Update Associations
      description: Batch create contact-company and contact-account relationships
      tags:
        - Associations
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - associations
              properties:
                associations:
                  type: array
                  items:
                    $ref: '#/components/schemas/Association'
            example:
              associations:
                - externalContactId: "contact_12345"
                  externalCompanyId: "company_67890"
                  relation: "employee"
                  isPrimary: true
      responses:
        '200':
          description: Batch operation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires associations:write scope

  # Calls
  /api/v1/calls:
    post:
      operationId: createCalls
      summary: Create Calls
      description: Batch create call records
      tags:
        - Calls
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - calls
              properties:
                calls:
                  type: array
                  items:
                    $ref: '#/components/schemas/Call'
            example:
              calls:
                - externalCallId: "call_12345"
                  direction: "inbound"
                  status: "completed"
                  fromNumber: "+1-555-123-4567"
                  toNumber: "+1-555-987-6543"
                  durationSeconds: 300
                  startTimestamp: "2024-01-15T10:00:00Z"
                  endTimestamp: "2024-01-15T10:05:00Z"
                  recordingUrl: "https://recordings.example.com/call_12345.mp3"
                  customer:
                    phone: "+1-555-123-4567"
                    name: "John Doe"
                    email: "john.doe@acme.com"
                  title: "Sales Follow-up Call"
      responses:
        '200':
          description: Batch operation completed
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires calls:write scope

    get:
      operationId: listCalls
      summary: List Calls
      description: Get all call records for your enterprise
      tags:
        - Calls
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of calls
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires calls:read scope

  /api/v1/calls/{id}:
    get:
      operationId: getCall
      summary: Get Call
      description: Get a single call record by ID
      tags:
        - Calls
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Call UUID
      responses:
        '200':
          description: Call details
        '404':
          description: Call not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires calls:read scope

  # Meetings
  /api/v1/meetings:
    post:
      operationId: createMeeting
      summary: Create/Update Meeting
      description: Create or update a meeting record
      tags:
        - Meetings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Meeting'
            example:
              title: "Weekly Team Sync"
              channel: "gmeet"
              joinUrl: "https://meet.google.com/abc-defg-hij"
              scheduledStartAt: "2024-01-20T10:00:00Z"
              scheduledEndAt: "2024-01-20T11:00:00Z"
              status: "scheduled"
              externalMeetingId: "calendar_event_abc123"
              hostEmail: "john@example.com"
              participantEmails:
                - "john@example.com"
                - "jane@example.com"
              type: "internal"
      responses:
        '200':
          description: Meeting created/updated
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires meetings:write scope

    get:
      operationId: listMeetings
      summary: List Meetings
      description: Get all meetings for your enterprise
      tags:
        - Meetings
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of meetings
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires meetings:read scope

  /api/v1/meetings/{id}:
    get:
      operationId: getMeeting
      summary: Get Meeting
      description: Get a single meeting by ID
      tags:
        - Meetings
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Meeting UUID
      responses:
        '200':
          description: Meeting details
        '404':
          description: Meeting not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires meetings:read scope

    delete:
      operationId: deleteMeeting
      summary: Delete/Cancel Meeting
      description: Delete or cancel a meeting
      tags:
        - Meetings
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Meeting UUID
      responses:
        '200':
          description: Meeting deleted/cancelled
        '404':
          description: Meeting not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires meetings:delete scope

  # Fields
  /api/v1/fields/definitions:
    get:
      operationId: listFieldDefinitions
      summary: List Field Definitions
      description: Get all field definitions for an entity type
      tags:
        - Fields
      security:
        - BearerAuth: []
      parameters:
        - name: entityType
          in: query
          required: true
          schema:
            type: string
            enum: [company, account, contact]
          description: Entity type to get definitions for
      responses:
        '200':
          description: List of field definitions
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires fields:read scope

    post:
      operationId: createFieldDefinition
      summary: Create Field Definition
      description: Create a new custom field definition
      tags:
        - Fields
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldDefinition'
      responses:
        '201':
          description: Field definition created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires fields:write scope

  /api/v1/fields/definitions/{id}:
    delete:
      operationId: deleteFieldDefinition
      summary: Delete Field Definition
      description: Delete a field definition
      tags:
        - Fields
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Field definition UUID
      responses:
        '200':
          description: Field definition deleted
        '404':
          description: Field definition not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires fields:delete scope

  /api/v1/fields/values:
    get:
      operationId: getFieldValues
      summary: Get Field Values
      description: Get field values for an entity
      tags:
        - Fields
      security:
        - BearerAuth: []
      parameters:
        - name: entityType
          in: query
          required: true
          schema:
            type: string
            enum: [company, account, contact]
        - name: entityId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: Entity UUID
      responses:
        '200':
          description: Field values for the entity
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires fields:read scope

    post:
      operationId: setFieldValues
      summary: Set Field Values
      description: Set field values for an entity
      tags:
        - Fields
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - entityType
                - entityId
                - fields
              properties:
                entityType:
                  type: string
                  enum: [company, account, contact]
                entityId:
                  type: string
                  format: uuid
                fields:
                  type: array
                  items:
                    $ref: '#/components/schemas/FieldValue'
      responses:
        '200':
          description: Field values set
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires fields:write scope

  /api/v1/fields/values/batch:
    post:
      operationId: batchSetFieldValues
      summary: Batch Set Field Values
      description: Set field values for multiple entities
      tags:
        - Fields
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - entityType
                - entities
              properties:
                entityType:
                  type: string
                  enum: [company, account, contact]
                entities:
                  type: array
                  items:
                    type: object
                    required:
                      - entityId
                      - fields
                    properties:
                      entityId:
                        type: string
                        format: uuid
                      fields:
                        type: array
                        items:
                          $ref: '#/components/schemas/FieldValue'
      responses:
        '200':
          description: Batch operation completed
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires fields:write scope

  # Users
  /api/v1/users:
    get:
      operationId: listUsers
      summary: List Users
      description: List all users in your enterprise. Optionally filter by name or email using the `search` param.
      tags:
        - Users
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: Case-insensitive partial match on name or email
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires users:read scope

  /api/v1/users/{id}:
    get:
      operationId: getUser
      summary: Get User
      description: Get a single user by their ID
      tags:
        - Users
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User UUID
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/User'
        '404':
          description: User not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires users:read scope

  # Action Items
  /api/v1/action-items:
    get:
      operationId: listActionItems
      summary: List Action Items
      description: List action items for your enterprise. Filter by interactionId, ownerUserId, stageId, or priority.
      tags:
        - Action Items
      security:
        - BearerAuth: []
      parameters:
        - name: interactionId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by interaction UUID
        - name: ownerUserId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by owner user UUID
        - name: stageId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by stageId
        - name: priority
          in: query
          required: false
          schema:
            type: string
            enum: [low, medium, high, blocker]
          description: Filter by priority
      responses:
        '200':
          description: List of action items
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActionItem'
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires action_items:read scope

    post:
      operationId: createActionItem
      summary: Create Action Item
      description: Create a new action item linked to an interaction
      tags:
        - Action Items
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionItemCreate'
            example:
              interactionId: "550e8400-e29b-41d4-a716-446655440000"
              title: "Follow up with procurement team"
              description: "Send the updated pricing deck by EOD Friday"
              ownerUserId: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
              priority: "high"
              dueAt: "2025-03-07T17:00:00Z"
      responses:
        '201':
          description: Action item created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ActionItem'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires action_items:write scope

  /api/v1/action-items/{id}:
    get:
      operationId: getActionItem
      summary: Get Action Item
      description: Get a single action item by ID
      tags:
        - Action Items
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Action item UUID
      responses:
        '200':
          description: Action item details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ActionItem'
        '404':
          description: Action item not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires action_items:read scope

    patch:
      operationId: updateActionItem
      summary: Update Action Item
      description: Partially update an action item. Only provided fields are changed.
      tags:
        - Action Items
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Action item UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionItemUpdate'
      responses:
        '200':
          description: Action item updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ActionItem'
        '400':
          description: Bad request
        '404':
          description: Action item not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires action_items:write scope

    delete:
      operationId: deleteActionItem
      summary: Delete Action Item
      description: Delete an action item. The record and its related mappings are permanently deleted.
      tags:
        - Action Items
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Action item UUID
      responses:
        '200':
          description: Action item deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
        '404':
          description: Action item not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires action_items:write scope

  # Key Role Assignments
  /api/v1/key-role-assignments:
    get:
      operationId: listKeyRoleAssignments
      summary: List Role Assignments
      description: Retrieve all internal team role assignments. Filter by entity, role key, or user.
      tags:
        - Key Role Assignments
      security:
        - BearerAuth: []
      parameters:
        - name: entityType
          in: query
          required: false
          schema:
            type: string
            enum: [company, account]
          description: Filter by entity type
        - name: entityId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by internal Arali entity UUID. Takes precedence over externalEntityId if both are provided.
        - name: externalEntityId
          in: query
          required: false
          schema:
            type: string
          description: Filter by the entity's external ID (requires entityType). Ignored if entityId is also provided.
        - name: roleKey
          in: query
          required: false
          schema:
            type: string
          description: "Filter by role key (e.g. csm, ae, tam). Returns 400 if the role key doesn't exist."
        - name: userId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by the internal Arali UUID of the assigned team member.
      responses:
        '200':
          description: List of role assignments
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        keyRoleDefinitionId:
                          type: string
                          format: uuid
                        entityType:
                          type: string
                          enum: [company, account]
                        entityId:
                          type: string
                          format: uuid
                        userId:
                          type: string
                          format: uuid
                        startAt:
                          type: string
                          format: date-time
                        endAt:
                          type: string
                          format: date-time
                          nullable: true
                        reason:
                          type: string
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
        '400':
          description: Bad request (e.g. invalid roleKey or missing entityType with externalEntityId)
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires key_roles:read scope

  # Deals
  /api/v1/deals:
    post:
      operationId: createDeals
      summary: Create/Update Deals
      description: Batch create or update deal records
      tags:
        - Deals
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - deals
              properties:
                deals:
                  type: array
                  items:
                    $ref: '#/components/schemas/Deal'
      responses:
        '200':
          description: Batch operation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires deals:write scope

    get:
      operationId: listDeals
      summary: List Deals
      description: Get all deals for your enterprise
      tags:
        - Deals
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 200
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: companyId
          in: query
          schema:
            type: string
            format: uuid
        - name: accountId
          in: query
          schema:
            type: string
            format: uuid
        - name: pipelineId
          in: query
          schema:
            type: string
            format: uuid
        - name: stageId
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [open, won, lost, cancelled]
        - name: ownerUserId
          in: query
          schema:
            type: string
            format: uuid
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of deals
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires deals:read scope

  /api/v1/deals/{id}:
    get:
      operationId: getDeal
      summary: Get Deal
      description: Get a single deal by internal ID or externalDealId
      tags:
        - Deals
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Deal UUID or externalDealId
      responses:
        '200':
          description: Deal details
        '404':
          description: Deal not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires deals:read scope

    put:
      operationId: updateDeal
      summary: Update Deal
      description: Update a single deal by internal ID or externalDealId
      tags:
        - Deals
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Deal UUID or externalDealId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deal'
      responses:
        '200':
          description: Deal updated
        '404':
          description: Deal not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires deals:write scope

    delete:
      operationId: deleteDeal
      summary: Delete Deal
      description: Delete a deal by internal ID or externalDealId
      tags:
        - Deals
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Deal UUID or externalDealId
      responses:
        '200':
          description: Deal deleted
        '404':
          description: Deal not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires deals:write scope

  /api/v1/deals/{id}/contacts:
    post:
      operationId: addDealContacts
      summary: Add Contacts to Deal
      description: Attach contacts to a deal
      tags:
        - Deals
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contacts:
                  type: array
                  items:
                    type: object
                    properties:
                      contactId:
                        type: string
                        format: uuid
                      role:
                        type: string
                      isPrimary:
                        type: boolean
      responses:
        '200':
          description: Contacts added
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires deals:write scope

  /api/v1/deals/{id}/contacts/{contactId}:
    delete:
      operationId: removeDealContact
      summary: Remove Contact from Deal
      description: Detach a contact from a deal
      tags:
        - Deals
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: contactId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Contact removed
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires deals:write scope

  /api/v1/deals/{id}/interactions:
    post:
      operationId: addDealInteractions
      summary: Add Interactions to Deal
      description: Attach interactions to a deal
      tags:
        - Deals
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                interactions:
                  type: array
                  items:
                    type: object
                    properties:
                      interactionId:
                        type: string
                        format: uuid
      responses:
        '200':
          description: Interactions added
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires deals:write scope

  /api/v1/deals/{id}/interactions/{interactionId}:
    delete:
      operationId: removeDealInteraction
      summary: Remove Interaction from Deal
      description: Detach an interaction from a deal
      tags:
        - Deals
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: interactionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Interaction removed
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires deals:write scope

  # Pipelines
  /api/v1/pipelines:
    post:
      operationId: createPipelines
      summary: Create/Update Pipelines
      description: Batch create or update pipeline records
      tags:
        - Pipelines
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pipelines
              properties:
                pipelines:
                  type: array
                  items:
                    $ref: '#/components/schemas/Pipeline'
      responses:
        '200':
          description: Batch operation completed
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires pipelines:write scope

    get:
      operationId: listPipelines
      summary: List Pipelines
      description: Get all pipelines for your enterprise
      tags:
        - Pipelines
      security:
        - BearerAuth: []
      parameters:
        - name: entityType
          in: query
          schema:
            type: string
            enum: [deal, action_item, ticket]
      responses:
        '200':
          description: List of pipelines
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires pipelines:read scope

  /api/v1/pipelines/{id}:
    get:
      operationId: getPipeline
      summary: Get Pipeline
      description: Get a single pipeline by ID with stages
      tags:
        - Pipelines
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Pipeline details
        '404':
          description: Pipeline not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires pipelines:read scope

    put:
      operationId: updatePipeline
      summary: Update Pipeline
      description: Update a single pipeline
      tags:
        - Pipelines
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pipeline'
      responses:
        '200':
          description: Pipeline updated
        '404':
          description: Pipeline not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires pipelines:write scope

    delete:
      operationId: deletePipeline
      summary: Delete Pipeline
      description: Delete a pipeline
      tags:
        - Pipelines
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Pipeline deleted
        '404':
          description: Pipeline not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires pipelines:delete scope

  # Pipeline Stages
  /api/v1/pipeline-stages:
    post:
      operationId: createPipelineStages
      summary: Create/Update Pipeline Stages
      description: Batch create or update pipeline stage records
      tags:
        - Pipeline Stages
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - stages
              properties:
                stages:
                  type: array
                  items:
                    $ref: '#/components/schemas/PipelineStage'
      responses:
        '200':
          description: Batch operation completed
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires stages:write scope

    get:
      operationId: listPipelineStages
      summary: List Pipeline Stages
      description: Get all stages for a pipeline
      tags:
        - Pipeline Stages
      security:
        - BearerAuth: []
      parameters:
        - name: pipelineId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of stages
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires stages:read scope

  /api/v1/pipeline-stages/{id}:
    get:
      operationId: getPipelineStage
      summary: Get Pipeline Stage
      description: Get a single pipeline stage by ID
      tags:
        - Pipeline Stages
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Stage details
        '404':
          description: Stage not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires stages:read scope

    put:
      operationId: updatePipelineStage
      summary: Update Pipeline Stage
      description: Update a single pipeline stage
      tags:
        - Pipeline Stages
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineStage'
      responses:
        '200':
          description: Stage updated
        '404':
          description: Stage not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires stages:write scope

    delete:
      operationId: deletePipelineStage
      summary: Delete Pipeline Stage
      description: Delete a pipeline stage
      tags:
        - Pipeline Stages
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Stage deleted
        '404':
          description: Stage not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires stages:delete scope

  # Product Lines
  /api/v1/product-lines:
    post:
      operationId: createProductLines
      summary: Create/Update Product Lines
      description: Batch create or update product line records
      tags:
        - Product Lines
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - productLines
              properties:
                productLines:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProductLine'
      responses:
        '200':
          description: Batch operation completed
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires product-lines:write scope

    get:
      operationId: listProductLines
      summary: List Product Lines
      description: Get all product lines for your enterprise
      tags:
        - Product Lines
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, archived]
      responses:
        '200':
          description: List of product lines
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires product-lines:read scope

  /api/v1/product-lines/{key}:
    get:
      operationId: getProductLine
      summary: Get Product Line
      description: Get a single product line by key
      tags:
        - Product Lines
      security:
        - BearerAuth: []
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Product line details
        '404':
          description: Product line not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires product-lines:read scope

    put:
      operationId: updateProductLine
      summary: Update Product Line
      description: Update a single product line by key
      tags:
        - Product Lines
      security:
        - BearerAuth: []
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductLine'
      responses:
        '200':
          description: Product line updated
        '404':
          description: Product line not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires product-lines:write scope

  /api/v1/product-lines/{id}:
    delete:
      operationId: deleteProductLine
      summary: Delete Product Line
      description: Delete a product line by ID
      tags:
        - Product Lines
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Product line deleted
        '404':
          description: Product line not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires product-lines:delete scope

  # Call Recordings
  /api/v1/calls/recording/ingest:
    post:
      operationId: ingestCallRecording
      summary: Ingest Call Recording
      description: Ingest a call recording URL for automatic transcription
      tags:
        - Call Recordings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - externalCallId
                - recordingUrl
              properties:
                externalCallId:
                  type: string
                recordingUrl:
                  type: string
                providerKey:
                  type: string
                title:
                  type: string
                direction:
                  type: string
                  enum: [inbound, outbound, unknown]
                status:
                  type: string
                  enum: [completed, missed, voicemail, failed, busy, cancelled, unknown]
                fromNumber:
                  type: string
                  nullable: true
                toNumber:
                  type: string
                  nullable: true
                durationSeconds:
                  type: number
                  nullable: true
                startTimestamp:
                  type: string
                  format: date-time
                  nullable: true
                endTimestamp:
                  type: string
                  format: date-time
                  nullable: true
                customer:
                  type: object
                  properties:
                    phone:
                      type: string
                    email:
                      type: string
                    name:
                      type: string
                orgUnitId:
                  type: string
                  format: uuid
                orgUnitIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                metadata:
                  type: object
                transcript:
                  type: string
                  nullable: true
                language:
                  type: string
                deepgramModel:
                  type: string
                enqueuePreanalyze:
                  type: boolean
                skipUpload:
                  type: boolean
                userEmail:
                  type: string
                externalCompanyId:
                  type: string
      responses:
        '200':
          description: Recording ingested successfully
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires calls:write scope

  # Meeting Recordings
  /api/v1/recordings/ingest:
    post:
      operationId: ingestMeetingRecording
      summary: Ingest Meeting Recording
      description: Ingest a meeting recording URL for automatic transcription
      tags:
        - Meeting Recordings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recordingUrl:
                  type: string
                recordingUrls:
                  type: array
                  items:
                    type: string
                recordings:
                  type: array
                  items:
                    type: object
                    properties:
                      recordingUrl:
                        type: string
                      title:
                        type: string
                      externalMeetingId:
                        type: string
                      metadata:
                        type: object
                title:
                  type: string
                  default: "Ingested Recording"
                titles:
                  type: array
                  items:
                    type: string
                scheduledStartAt:
                  type: string
                  format: date-time
                scheduledEndAt:
                  type: string
                  format: date-time
                channel:
                  type: string
                  enum: [gmeet, zoom, teams, offline]
                  default: offline
                joinUrl:
                  type: string
                hostEmail:
                  type: string
                participantEmails:
                  type: array
                  items:
                    type: string
                orgUnitId:
                  type: string
                  format: uuid
                orgUnitIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                externalMeetingId:
                  type: string
                language:
                  type: string
                  default: en
                deepgramModel:
                  type: string
                  default: nova-2
                metadata:
                  type: object
                enqueuePreanalyze:
                  type: boolean
                  default: true
                createTranscript:
                  type: boolean
                  default: true
                uploadToR2:
                  type: boolean
                  default: true
                waitForTranscript:
                  type: boolean
                  default: false
                skipEmail:
                  type: boolean
                  default: false
                skipNotifications:
                  type: boolean
                  default: false
                skipInsightsEmbed:
                  type: boolean
                  default: false
                force:
                  type: boolean
                  default: false
                forceAnalyze:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Recording ingested successfully
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires meetings:write scope

  # Metric Definitions
  /api/v1/metric-definitions:
    post:
      operationId: createMetricDefinitions
      summary: Create/Update Metric Definitions
      description: Batch create or update metric definitions
      tags:
        - Metric Definitions
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - metricDefinitions
              properties:
                metricDefinitions:
                  type: array
                  items:
                    $ref: '#/components/schemas/MetricDefinition'
      responses:
        '200':
          description: Batch operation completed
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires metrics:definitions:write scope

    get:
      operationId: listMetricDefinitions
      summary: List Metric Definitions
      description: Get all metric definitions for your enterprise
      tags:
        - Metric Definitions
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 500
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of metric definitions
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires metrics:definitions:read scope

  /api/v1/metric-definitions/{id}:
    get:
      operationId: getMetricDefinition
      summary: Get Metric Definition
      description: Get a single metric definition by ID
      tags:
        - Metric Definitions
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Metric definition details
        '404':
          description: Metric definition not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires metrics:definitions:read scope

    put:
      operationId: updateMetricDefinition
      summary: Update Metric Definition
      description: Update a single metric definition
      tags:
        - Metric Definitions
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricDefinition'
      responses:
        '200':
          description: Metric definition updated
        '404':
          description: Metric definition not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires metrics:definitions:write scope

    delete:
      operationId: deleteMetricDefinition
      summary: Delete Metric Definition
      description: Delete a metric definition
      tags:
        - Metric Definitions
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Metric definition deleted
        '404':
          description: Metric definition not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires metrics:definitions:delete scope

  # Metric Computations
  /api/v1/metric-computations:
    post:
      operationId: ingestMetricComputations
      summary: Ingest Metric Computations
      description: Batch ingest metric computation records
      tags:
        - Metric Computations
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - computations
              properties:
                computations:
                  type: array
                  items:
                    $ref: '#/components/schemas/MetricComputation'
      responses:
        '200':
          description: Batch operation completed
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires metrics:computations:write scope

    get:
      operationId: queryMetricComputations
      summary: Query Metric Computations
      description: Query metric computation records
      tags:
        - Metric Computations
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 500
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: metricId
          in: query
          schema:
            type: string
            format: uuid
        - name: companyId
          in: query
          schema:
            type: string
            format: uuid
        - name: accountId
          in: query
          schema:
            type: string
            format: uuid
        - name: productId
          in: query
          schema:
            type: string
            format: uuid
        - name: eventKey
          in: query
          schema:
            type: string
        - name: startAt
          in: query
          schema:
            type: string
            format: date-time
        - name: endAt
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: List of metric computations
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires metrics:computations:read scope

  # Metric Aggregates
  /api/v1/metric-aggregates:
    get:
      operationId: queryMetricAggregates
      summary: Query Metric Aggregates
      description: Query aggregated metric windows
      tags:
        - Metric Aggregates
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 500
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: metricId
          in: query
          schema:
            type: string
            format: uuid
        - name: companyId
          in: query
          schema:
            type: string
            format: uuid
        - name: productId
          in: query
          schema:
            type: string
            format: uuid
        - name: grain
          in: query
          schema:
            type: string
            enum: [minute, hour, day]
        - name: windowStart
          in: query
          schema:
            type: string
            format: date-time
        - name: windowEnd
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: List of metric aggregates
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires metrics:aggregates:read scope

  # Product Events
  /api/v1/product-events:
    post:
      operationId: ingestProductEvents
      summary: Ingest Product Events
      description: Batch ingest raw product events
      tags:
        - Product Events
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - events
              properties:
                events:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProductEvent'
      responses:
        '200':
          description: Batch operation completed
[...]
