openapi: 3.0.3
info:
  title: Arali API
  description: API for managing customer relationships, tracking interactions, and gaining insights
  version: 1.0.0
  contact:
    name: Arali Support
    email: support@arali.ai
    url: https://arali.ai

servers:
  - url: https://api.arali.ai
    description: Production server

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: "Enter your API key as: Api-Key <your_key>"

  parameters:
    AggGroupBy:
      name: groupBy
      in: query
      required: true
      schema:
        type: string
      description: >
        Dimension(s) to group by. Single dimension: `stage`, `owner`, `org_unit`, or
        `field:<fieldKey>` (deals also support `pipeline`). Compound mode: comma-separate
        multiple dimensions (`stage` and/or `field:<fieldKey>` only, deals also `pipeline`)
        to get one cross-tabbed result instead of a single breakdown, e.g.
        `stage,field:country,field:lead_source`.
      example: "field:lead_source"
    AggStageKey:
      name: stageKey
      in: query
      required: false
      schema:
        type: string
      description: Comma-separated stage keys to filter to before grouping.
    AggStageId:
      name: stageId
      in: query
      required: false
      schema:
        type: string
      description: Comma-separated stage UUIDs to filter to before grouping.
    AggFields:
      name: fields[fieldKey]
      in: query
      required: false
      schema:
        type: string
      description: >
        Filter to entities whose custom field `fieldKey` matches `value` (exact/ILIKE
        match). Repeatable — one per field key, e.g. `fields[ethnicity]=NRI`. AND-combined
        if multiple are given.
    AggFieldsAfter:
      name: fieldsAfter[fieldKey]
      in: query
      required: false
      schema:
        type: string
        format: date
      description: >
        Filter to entities whose custom `date`/`datetime` field `fieldKey` is on or after
        this date (inclusive). Only valid for date/datetime-typed custom fields — returns
        400 for any other field type. Pair with `fieldsBefore[fieldKey]` for a range.
      example: "fieldsAfter[created_at_cy]=2026-06-01"
    AggFieldsBefore:
      name: fieldsBefore[fieldKey]
      in: query
      required: false
      schema:
        type: string
        format: date
      description: >
        Filter to entities whose custom `date`/`datetime` field `fieldKey` is strictly
        before this date. Only valid for date/datetime-typed custom fields.
      example: "fieldsBefore[created_at_cy]=2026-07-01"
    AggKeyRoleUserId:
      name: key_role_user_id
      in: query
      required: false
      schema:
        type: string
      description: Comma-separated user UUIDs. Filter to entities owned by any of these users.
    AggKeyRoleKey:
      name: key_role_key
      in: query
      required: false
      schema:
        type: string
      description: Comma-separated key-role keys (e.g. `ae`, `csm`) to scope `key_role_user_id`/`org_unit_id`/`groupBy=owner`/`groupBy=org_unit` to specific roles only.
    AggOrgUnitId:
      name: org_unit_id
      in: query
      required: false
      schema:
        type: string
      description: Comma-separated org unit UUIDs. Filter to entities owned by someone in these org units (or their descendants).
    AggDate:
      name: date
      in: query
      required: false
      schema:
        type: string
        format: date
      description: "Shorthand for \"that single day\" — filters to entities whose system `createdAt` falls on this UTC date. Mutually exclusive with `createdAfter`/`createdBefore`."
      example: "2026-07-20"
    AggCreatedAfter:
      name: createdAfter
      in: query
      required: false
      schema:
        type: string
        format: date-time
      description: Filter to entities with system `createdAt` on or after this ISO date/datetime.
    AggCreatedBefore:
      name: createdBefore
      in: query
      required: false
      schema:
        type: string
        format: date-time
      description: Filter to entities with system `createdAt` strictly before this ISO date/datetime.
    AggGranularity:
      name: granularity
      in: query
      required: false
      schema:
        type: string
        enum: [day, month]
        default: day
      description: Bucket size when `groupBy` (or a compound dimension) targets a `date`/`datetime` custom field. Defaults to `day`.

  schemas:
    AggregateGroupCount:
      type: object
      properties:
        groupKey:
          type: string
          nullable: true
          description: The raw group value (stage/user/org-unit UUID, or field value). `null` for the "no value" bucket.
        groupLabel:
          type: string
          description: Human-readable label — resolved stage/user/org-unit name, or the raw field value/date bucket.
        count:
          type: integer
          description: Number of entities in this group. For `owner`/`org_unit`/`multi_enum` field dimensions, an entity can appear in more than one group (fan-out) — see description.
      example:
        groupKey: "1bd05980-ea79-433f-8bcd-2d6114b6e2aa"
        groupLabel: "Customer"
        count: 137

    AggregateResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/AggregateGroupCount'
        meta:
          type: object
          properties:
            entity:
              type: string
              example: "contacts"
            groupBy:
              type: string
              example: "stage"
            total:
              type: integer
              description: Accurate distinct-entity count matching the applied filters. Can be less than `sum(data[].count)` for `owner`/`org_unit`/`multi_enum` dimensions — that's intentional fan-out, not a bug.
            enterpriseId:
              type: string
              format: uuid

    CompoundAggregateRow:
      type: object
      properties:
        dimensions:
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: One key per requested dimension token (e.g. `stage`, `field:country`), value is that combination's group value (or `null`).
        count:
          type: integer
      example:
        dimensions:
          stage: "New"
          country: "United States"
        count: 19

    CompoundAggregateResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/CompoundAggregateRow'
        meta:
          type: object
          properties:
            entity:
              type: string
            groupBy:
              type: string
              example: "stage,field:country"
            dimensions:
              type: array
              items:
                type: string
            total:
              type: integer
            enterpriseId:
              type: string
              format: uuid

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        details:
          type: string
          description: Additional error details
        schema:
          type: string
          description: Reference to schema endpoint

    BatchResponse:
      type: object
      properties:
        success:
          type: boolean
        summary:
          type: object
          properties:
            total:
              type: integer
            success:
              type: integer
            failed:
              type: integer
        results:
          type: array
          items:
            type: object
            properties:
              status:
                type: string
                enum: [success, skipped, error]
              reason:
                type: string
            additionalProperties: true
            description: Result items include endpoint-specific IDs (e.g. externalCompanyId/companyId, externalContactId/contactId, externalAccountId/accountId)

    Company:
      type: object
      properties:
        id:
          type: string
          format: uuid
        enterpriseId:
          type: string
          format: uuid
        name:
          type: string
          description: Company display name
          example: "Acme Corporation"
        domain:
          type: string
          nullable: true
          description: Company website domain
          example: "acme.com"
        ownerUserId:
          type: string
          format: uuid
          nullable: true
          description: Owner user ID
        healthScore:
          type: integer
          nullable: true
          description: Health score (0-100)
        healthScoreComputedAt:
          type: string
          format: date-time
          nullable: true
        healthScoreBreakdown:
          type: object
          nullable: true
        ARR:
          type: integer
          nullable: true
          description: Annual Recurring Revenue
        currency:
          type: string
          default: USD
        stageDefinitionId:
          type: string
          format: uuid
          nullable: true
        attributes:
          type: object
          description: Custom key-value attributes
        externalCompanyId:
          type: string
          nullable: true
          description: External Company ID stored on companies.external_company_id and used for idempotent upserts.
          example: "hubspot_12345"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        stage:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            key:
              type: string
            name:
              type: string
            bucket:
              type: string
            scope:
              type: string
        fieldValues:
          type: array
          items:
            type: object
            properties:
              fieldKey:
                type: string
              fieldName:
                type: string
              fieldType:
                type: string
                enum: [text, number, date, boolean, json, enum]
              value:
                description: The field value (type depends on fieldType)
        contacts:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              fullName:
                type: string
              title:
                type: string
              emails:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    email:
                      type: string
                    isPrimary:
                      type: boolean
              phones:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    phone:
                      type: string
                    isPrimary:
                      type: boolean
        deals:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              amountCents:
                type: number
                nullable: true
              currency:
                type: string
              stage:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  key:
                    type: string
                  name:
                    type: string
                  pipelineId:
                    type: string
                    format: uuid
                  sortOrder:
                    type: integer
              pipeline:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  isActive:
                    type: boolean
        accounts:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              domain:
                type: string
              accountType:
                type: string
              stage:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  key:
                    type: string
                  name:
                    type: string
                  bucket:
                    type: string
                  scope:
                    type: string

    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
        enterpriseId:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        name:
          type: string
          description: Account display name
          example: "Acme Enterprise Account"
        domain:
          type: string
          nullable: true
          description: Account domain
        accountType:
          type: string
          nullable: true
          description: Account type/tier
          example: "enterprise"
        ownerUserId:
          type: string
          format: uuid
          nullable: true
          description: Owner user ID
        stageDefinitionId:
          type: string
          format: uuid
          nullable: true
        healthScore:
          type: integer
          minimum: 0
          maximum: 100
          nullable: true
          description: Health score (0-100)
        healthScoreComputedAt:
          type: string
          format: date-time
          nullable: true
        healthScoreBreakdown:
          type: object
          nullable: true
        ARR:
          type: integer
          nullable: true
          description: Annual Recurring Revenue
        currency:
          type: string
          default: USD
        externalAccountId:
          type: string
          nullable: true
          description: External Account ID stored on accounts.external_id and used for idempotent upserts.
          example: "CRM_ACC_001"
        externalCompanyId:
          type: string
          nullable: true
          description: Native external ID of the parent company from companies.external_company_id
          example: "hubspot_12345"
        metadata:
          type: object
          description: Custom key-value metadata
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        stage:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            key:
              type: string
            name:
              type: string
            bucket:
              type: string
            scope:
              type: string
        fieldValues:
          type: array
          items:
            type: object
            properties:
              fieldKey:
                type: string
              fieldName:
                type: string
              fieldType:
                type: string
                enum: [text, number, date, boolean, json, enum]
              value:
                description: The field value (type depends on fieldType)
        company:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            domain:
              type: string
            stage:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                key:
                  type: string
                name:
                  type: string
                bucket:
                  type: string
                scope:
                  type: string
            fieldValues:
              type: array
              items:
                type: object
                properties:
                  fieldKey:
                    type: string
                  fieldName:
                    type: string
                  fieldType:
                    type: string
                  value:
                    description: The field value (type depends on fieldType)
        contacts:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              fullName:
                type: string
              title:
                type: string
              emails:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    email:
                      type: string
                    isPrimary:
                      type: boolean
              phones:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    phone:
                      type: string
                    isPrimary:
                      type: boolean
        deals:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              stage:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  key:
                    type: string
                  name:
                    type: string
                  pipelineId:
                    type: string
                    format: uuid
                  sortOrder:
                    type: integer
              pipeline:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  isActive:
                    type: boolean

    ContactUpsert:
      type: object
      required:
        - fullName
      properties:
        externalContactId:
          type: string
          nullable: true
          description: External unique ID stored on contacts.external_contact_id. Optional — if omitted, a new contact is created without an external ID.
          example: "hubspot_contact_12345"
        fullName:
          type: string
          nullable: true
          description: Contact's full name
          example: "John Doe"
        title:
          type: string
          nullable: true
          description: Job title
          example: "VP of Engineering"
        ownerUserId:
          type: string
          format: uuid
          nullable: true
          description: Owner user UUID
        emails:
          type: array
          items:
            type: object
            required:
              - email
            properties:
              email:
                type: string
              isPrimary:
                type: boolean
                default: false
              label:
                type: string
                nullable: true
        phones:
          type: array
          items:
            type: object
            required:
              - phone
            properties:
              phone:
                type: string
              isPrimary:
                type: boolean
                default: false
              label:
                type: string
                nullable: true
        attributes:
          type: object
        properties:
          type: object
          description: Custom field values (key-value pairs)
        stageDefinitionId:
          type: string
          format: uuid
          nullable: true
          description: Stage definition UUID to assign to the contact
        stageKey:
          type: string
          nullable: true
          description: Stage key to assign to the contact (alternative to stageDefinitionId)
        key_roles:
          type: array
          items:
            type: object
            description: Key role assignments for this contact
        createdAt:
          type: string
          format: date-time
          nullable: true
          description: Override creation timestamp (optional, for backfills)

    ContactUpdate:
      type: object
      properties:
        fullName:
          type: string
          nullable: true
          description: Contact's full name
        title:
          type: string
          nullable: true
          description: Job title
        ownerUserId:
          type: string
          format: uuid
          nullable: true
          description: Owner user UUID
        emails:
          type: array
          items:
            type: object
            required:
              - email
            properties:
              email:
                type: string
              isPrimary:
                type: boolean
                default: false
              label:
                type: string
                nullable: true
        phones:
          type: array
          items:
            type: object
            required:
              - phone
            properties:
              phone:
                type: string
              isPrimary:
                type: boolean
                default: false
              label:
                type: string
                nullable: true
        attributes:
          type: object
        properties:
          type: object

    ListContact:
      type: object
      description: Lightweight contact object returned by GET /api/v1/contacts
      properties:
        id:
          type: string
          format: uuid
        fullName:
          type: string
          nullable: true
          description: Contact's full name
        title:
          type: string
          nullable: true
          description: Job title
        stageName:
          type: string
          nullable: true
          description: Current contact stage name
        externalContactId:
          type: string
          nullable: true
        emails:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              contactId:
                type: string
                format: uuid
              enterpriseId:
                type: string
                format: uuid
              email:
                type: string
              isPrimary:
                type: boolean
              label:
                type: string
                nullable: true
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
        phones:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              contactId:
                type: string
                format: uuid
              enterpriseId:
                type: string
                format: uuid
              phone:
                type: string
              phoneNormalized:
                type: string
                nullable: true
              isPrimary:
                type: boolean
              label:
                type: string
                nullable: true
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        lastAssignedAt:
          type: string
          format: date-time
          nullable: true

    Contact:
      type: object
      properties:
        id:
          type: string
          format: uuid
        enterpriseId:
          type: string
          format: uuid
        fullName:
          type: string
          nullable: true
          description: Contact's full name
        title:
          type: string
          nullable: true
          description: Job title
        ownerUserId:
          type: string
          format: uuid
          nullable: true
          description: Owner user UUID
        toAnalyze:
          type: boolean
        stageDefinitionId:
          type: string
          format: uuid
          nullable: true
        attributes:
          type: object
        externalContactId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        stage:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            key:
              type: string
            name:
              type: string
            bucket:
              type: string
            scope:
              type: string
        fieldValues:
          type: array
          items:
            type: object
            properties:
              fieldKey:
                type: string
              fieldName:
                type: string
              fieldType:
                type: string
                enum: [text, number, date, boolean, json, enum]
              value:
                description: The field value (type depends on fieldType)
        emails:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              email:
                type: string
              isPrimary:
                type: boolean
        phones:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              phone:
                type: string
              isPrimary:
                type: boolean
        companies:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              domain:
                type: string
              stage:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  key:
                    type: string
                  name:
                    type: string
                  bucket:
                    type: string
                  scope:
                    type: string
              fieldValues:
                type: array
                items:
                  type: object
                  properties:
                    fieldKey:
                      type: string
                    fieldName:
                      type: string
                    fieldType:
                      type: string
                    value:
                      description: The field value (type depends on fieldType)
        deals:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              stage:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  key:
                    type: string
                  name:
                    type: string
                  pipelineId:
                    type: string
                    format: uuid
                  sortOrder:
                    type: integer
              pipeline:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  isActive:
                    type: boolean
        accounts:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              stage:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  key:
                    type: string
                  name:
                    type: string
                  bucket:
                    type: string
                  scope:
                    type: string

    Association:
      type: object
      properties:
        contactId:
          type: string
          format: uuid
          description: Internal UUID of the contact
        externalContactId:
          type: string
          description: Native contact external ID from contacts.external_contact_id
        companyId:
          type: string
          format: uuid
          description: Internal UUID of the company
        externalCompanyId:
          type: string
          description: Native company external ID from companies.external_company_id
        accountId:
          type: string
          format: uuid
          description: Internal UUID of the account
        externalAccountId:
          type: string
          description: Native account external ID from accounts.external_id
        relation:
          type: string
          enum: [employee, consultant, contractor, partner, agency, other]
          default: employee
        isPrimary:
          type: boolean
          default: false
        role:
          type: string
          description: Role for contact_account association
        dealId:
          type: string
          format: uuid
          description: Internal UUID of the deal (optional if externalDealId provided)
        externalDealId:
          type: string
          description: Native deal external ID from deals.external_deal_id (optional if dealId provided)
        dealRole:
          type: string
          description: Role for the deal_contact association (e.g. champion, decision_maker, economic_buyer)
          default: unknown

    AssociationResponse:
      type: object
      properties:
        success:
          type: boolean
        entityType:
          type: string
          enum: [contact, deal, company, account]
        entityId:
          type: string
          format: uuid
        companies:
          type: array
          items:
            $ref: '#/components/schemas/Company'
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
        deals:
          type: array
          items:
            $ref: '#/components/schemas/Deal'
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'
        company:
          $ref: '#/components/schemas/Company'
        account:
          $ref: '#/components/schemas/Account'
      description: >
        Returns related entities based on entityType.
        - contact → companies[], deals[], accounts[]
        - deal → contacts[], company, account
        - company → contacts[], deals[], accounts[]
        - account → contacts[], deals[], company

    Call:
      type: object
      required:
        - externalCallId
      properties:
        externalCallId:
          type: string
          description: External unique ID from call provider
          example: "aircall_call_12345"
        direction:
          type: string
          enum: [inbound, outbound, unknown]
          default: unknown
        status:
          type: string
          enum: [completed, missed, voicemail, failed, busy, cancelled, unknown]
          default: completed
        fromNumber:
          type: string
          nullable: true
          description: Phone number the call originated from
        toNumber:
          type: string
          nullable: true
          description: Phone number the call was made to
        durationSeconds:
          type: number
          nullable: true
          description: Call duration in seconds
        ringDurationSeconds:
          type: number
          nullable: true
        startTimestamp:
          type: string
          format: date-time
          nullable: true
        endTimestamp:
          type: string
          format: date-time
          nullable: true
        recordingUrl:
          type: string
          nullable: true
          description: URL to call recording
        customer:
          type: object
          properties:
            phone:
              type: string
            email:
              type: string
            name:
              type: string
        orgUnitIds:
          type: array
          items:
            type: string
            format: uuid
        orgUnitId:
          type: string
          format: uuid
        metadata:
          type: object
        title:
          type: string
          nullable: true

    Meeting:
      type: object
      required:
        - scheduledStartAt
        - scheduledEndAt
      properties:
        scheduledStartAt:
          type: string
          format: date-time
          description: Scheduled start time
        scheduledEndAt:
          type: string
          format: date-time
          description: Scheduled end time
        title:
          type: string
          description: Meeting title/subject
          default: "empty title"
        channel:
          type: string
          enum: [gmeet, zoom, teams, offline]
        joinUrl:
          type: string
          nullable: true
          description: URL to join the meeting
        status:
          type: string
          enum: [scheduled, skip, in_progress, cancelled, completed, deleted, error]
          default: scheduled
        externalMeetingId:
          type: string
          nullable: true
          description: External unique ID from calendar source
        hostEmail:
          type: string
          nullable: true
          description: Email of meeting host/organizer
        participantEmails:
          type: array
          items:
            type: string
        orgUnitIds:
          type: array
          items:
            type: string
            format: uuid
        orgUnitId:
          type: string
          format: uuid
        recurringMeetingId:
          type: string
          nullable: true
        type:
          type: string
          enum: [external, internal]
        metadata:
          type: object

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique user ID
        name:
          type: string
          description: Display name of the user
        email:
          type: string
          format: email
          description: Email address of the user
        phone:
          type: string
          nullable: true
          description: Phone number of the user
        provider:
          type: string
          nullable: true
          description: "Auth provider (e.g. google, local)"
        orgUnitId:
          type: string
          format: uuid
          nullable: true
          description: UUID of the org unit this user belongs to within the enterprise
        orgUnitName:
          type: string
          nullable: true
          description: Name of the org unit
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ActionItem:

      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique action item ID
        interactionId:
          type: string
          format: uuid
          nullable: true
          description: ID of the linked interaction (optional)
        enterpriseId:
          type: string
          format: uuid
        participantId:
          type: string
          format: uuid
          nullable: true
          description: Linked participant (optional)
        ownerUserId:
          type: string
          format: uuid
          nullable: true
          description: Owning app user (optional)
        ownerName:
          type: string
          nullable: true
        ownerEmail:
          type: string
          nullable: true
        title:
          type: string
          description: Short title of the action item
        description:
          type: string
          nullable: true
        dueAt:
          type: string
          format: date-time
          nullable: true
        timestamp:
          type: string
          nullable: true
          description: Transcript timestamp reference (HH:MM:SS)
        currentStageId:
          type: string
          format: uuid
          nullable: true
          description: UUID of the pipeline stage
        stageName:
          type: string
          nullable: true
          description: Name of the pipeline stage
        stageBucket:
          type: string
          nullable: true
          description: Bucket of the pipeline stage (e.g., open, done, archived)
        priority:
          type: string
          enum: [low, medium, high, blocker]
          default: medium
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ActionItemCreate:
      type: object
      required:
        - title
      properties:
        interactionId:
          type: string
          format: uuid
          nullable: true
          description: UUID of the interaction this action item belongs to (optional)
        participantId:
          type: string
          format: uuid
          nullable: true
        ownerUserId:
          type: string
          format: uuid
          nullable: true
        title:
          type: string
          description: Short title (required)
        description:
          type: string
          nullable: true
        dueAt:
          type: string
          format: date-time
          nullable: true
        timestamp:
          type: string
          nullable: true
          description: Transcript reference (HH:MM:SS)
        stageId:
          type: string
          format: uuid
          nullable: true
          description: UUID of the pipeline stage to assign. If omitted, uses default.
        entities:
          type: array
          description: Optional list of explicit entity mappings
          items:
            type: object
            required: [entityType, entityId]
            properties:
              entityType:
                type: string
                enum: [company, contact, interaction, account]
              entityId:
                type: string
                format: uuid
        priority:
          type: string
          enum: [low, medium, high, blocker]
          default: medium

    ActionItemUpdate:
      type: object
      properties:
        participantId:
          type: string
          format: uuid
          nullable: true
        ownerUserId:
          type: string
          format: uuid
          nullable: true
        title:
          type: string
        description:
          type: string
          nullable: true
        dueAt:
          type: string
          format: date-time
          nullable: true
        timestamp:
          type: string
          nullable: true
        stageId:
          type: string
          format: uuid
          nullable: true
        entities:
          type: array
          items:
            type: object
            properties:
              entityType:
                type: string
                enum: [company, contact, interaction, account]
              entityId:
                type: string
                format: uuid
        priority:
          type: string
          enum: [low, medium, high, blocker]

    FieldDefinition:
      type: object
      required:
        - fieldKey
        - fieldName
        - fieldType
        - entityType
      properties:
        fieldKey:
          type: string
          description: Unique key for the field
          example: "contract_start_date"
        fieldName:
          type: string
          description: Display name for the field
          example: "Contract Start Date"
        fieldType:
          type: string
          enum: [text, number, date, boolean, json, enum]
        entityType:
          type: string
          enum: [company, account, contact]
        enumOptions:
          type: array
          items:
            type: string
          description: Valid options for enum field type
        isRequired:
          type: boolean
          default: false
        displayOrder:
          type: integer
          description: Order for UI display

    FieldValue:
      type: object
      required:
        - fieldKey
        - value
      properties:
        fieldKey:
          type: string
          description: Key of the field definition
        value:
          description: Value matching the field type

    Deal:
      type: object
      properties:
        id:
          type: string
          format: uuid
        enterpriseId:
          type: string
          format: uuid
        pipelineId:
          type: string
          format: uuid
        currentStageId:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
          nullable: true
        accountId:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        title:
          type: string
          nullable: true
          description: Alternative input field for deal name. If provided without name, title is used as the deal name.
        lifecycleStage:
          type: string
          enum: [open, won, lost, cancelled]
        amountCents:
          type: number
          nullable: true
        currency:
          type: string
          default: INR
        expectedCloseDate:
          type: string
          format: date
          nullable: true
        actualCloseDate:
          type: string
          format: date-time
          nullable: true
        parentDealId:
          type: string
          format: uuid
          nullable: true
        ownerUserId:
          type: string
          format: uuid
          nullable: true
          description: Owner user UUID. Accepted in request but not persisted (no DB column on deals table).
        externalDealId:
          type: string
          nullable: true
        attributes:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        stage:
          type: object
          properties:
            id:
              type: string
              format: uuid
            key:
              type: string
            name:
              type: string
            pipelineId:
              type: string
              format: uuid
            sortOrder:
              type: integer
        pipeline:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            isActive:
              type: boolean
        fieldValues:
          type: array
          items:
            type: object
            properties:
              fieldKey:
                type: string
              fieldName:
                type: string
              fieldType:
                type: string
                enum: [text, number, date, boolean, json, enum]
              value:
                description: The field value (type depends on fieldType)
        company:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            domain:
              type: string
            stage:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                key:
                  type: string
                name:
                  type: string
                bucket:
                  type: string
                scope:
                  type: string
            fieldValues:
              type: array
              items:
                type: object
                properties:
                  fieldKey:
                    type: string
                  fieldName:
                    type: string
                  fieldType:
                    type: string
                  value:
                    description: The field value (type depends on fieldType)
        account:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            stage:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                key:
                  type: string
                name:
                  type: string
                bucket:
                  type: string
                scope:
                  type: string
        contacts:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              enterpriseId:
                type: string
                format: uuid
              dealId:
                type: string
                format: uuid
              contactId:
                type: string
                format: uuid
              role:
                type: string
              isPrimary:
                type: boolean
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
              contact:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  fullName:
                    type: string
                  title:
                    type: string
                  emails:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        email:
                          type: string
                        isPrimary:
                          type: boolean
                  phones:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        phone:
                          type: string
                        isPrimary:
                          type: boolean
        transitions:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              dealId:
                type: string
                format: uuid
              fromPipelineId:
                type: string
                format: uuid
                nullable: true
              fromStageId:
                type: string
                format: uuid
                nullable: true
              toPipelineId:
                type: string
                format: uuid
              toStageId:
                type: string
                format: uuid
              changedAt:
                type: string
                format: date-time
              changedByUserId:
                type: string
                format: uuid
                nullable: true

    DealCreate:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
          nullable: true
        accountId:
          type: string
          format: uuid
          nullable: true
        parentDealId:
          type: string
          format: uuid
          nullable: true
        pipelineId:
          type: string
          format: uuid
        stageName:
          type: string
          description: Stage display name (e.g. Prospecting, Demo Booked). Alternative to stageKey.
        stageKey:
          type: string
          description: Stage slug/key within the pipeline (e.g. prospecting, demo_booked). Alternative to stageName.
        title:
          type: string
          nullable: true
          description: Alternative input field for deal name. If provided without name, title is used as the deal name.
        name:
          type: string
          description: Alias for title.
        dealType:
          type: string
          enum: [new_business, expansion, renewal, upsell, contraction, churn_save]
        expectedCloseDate:
          type: string
          format: date
          nullable: true
        closedAt:
          type: string
          format: date-time
          nullable: true
        externalDealId:
          type: string
          nullable: true
        metadata:
          type: object
        transitionReason:
          type: string
          nullable: true
        contactId:
          type: string
          format: uuid
          nullable: true
        contacts:
          type: array
          items:
            type: object
            properties:
              contactId:
                type: string
                format: uuid
              role:
                type: string
              isPrimary:
                type: boolean
              properties:
                type: object
              keyRoles:
                type: array
                items:
                  type: object
                  properties:
                    roleKey:
                      type: string
                    userEmail:
                      type: string
                    userId:
                      type: string
        properties:
          type: object
        key_roles:
          type: array
          items:
            type: object
            properties:
              roleKey:
                type: string
              userEmail:
                type: string
              userId:
                type: string

    Pipeline:
      type: object
      properties:
        id:
          type: string
          format: uuid
        entityType:
          type: string
          enum: [deal, action_item, ticket]
          default: action_item
        orgUnitId:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        description:
          type: string
          nullable: true
        isDefault:
          type: boolean
          default: false
        createdByUserId:
          type: string
          format: uuid
          nullable: true

    PipelineStage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        pipelineId:
          type: string
          format: uuid
        name:
          type: string
        bucket:
          type: string
          enum: [open, in_progress, blocked, done, archived]
          default: open
        color:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        sortOrder:
          type: integer
          default: 0
        isTerminal:
          type: boolean
          default: false
        winProbability:
          type: number
          nullable: true

    ProductLine:
      type: object
      properties:
        id:
          type: string
          format: uuid
        key:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, archived]
          default: active
        sortOrder:
          type: integer
          default: 0

    MetricDefinition:
      type: object
      properties:
        id:
          type: string
          format: uuid
        key:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        type:
          type: string
          enum: [aggregation, derived, ratio, funnel]
          default: aggregation
        source:
          type: string
          default: events
        definitionJson:
          type: object
        unit:
          type: string
          nullable: true
        higherIsBetter:
          type: boolean
          default: false
        defaultGrain:
          type: string
          enum: [minute, hour, day]
          nullable: true
        isActive:
          type: boolean
          default: true
        version:
          type: integer
          default: 1

    MetricComputation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        metricId:
          type: string
          format: uuid
        metricVersion:
          type: number
          default: 1
        eventKey:
          type: string
          nullable: true
        productId:
          type: string
          format: uuid
          nullable: true
        companyId:
          type: string
          format: uuid
          nullable: true
        accountId:
          type: string
          format: uuid
          nullable: true
        valueNumber:
          type: number
          nullable: true
        valueJson:
          type: object
          nullable: true
        computedAt:
          type: string
          format: date-time
          nullable: true
        metadata:
          type: object
          nullable: true

    MetricAggregate:
      type: object
      properties:
        id:
          type: string
          format: uuid
        metricId:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
          nullable: true
        productId:
          type: string
          format: uuid
          nullable: true
        grain:
          type: string
          enum: [minute, hour, day]
        windowStart:
          type: string
          format: date-time
        windowEnd:
          type: string
          format: date-time
        value:
          type: number

    ProductEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        productId:
          type: string
          format: uuid
          nullable: true
        companyId:
          type: string
          format: uuid
          nullable: true
        accountId:
          type: string
          format: uuid
          nullable: true
        userId:
          type: string
          format: uuid
          nullable: true
        eventName:
          type: string
        eventKey:
          type: string
          nullable: true
        eventTimestamp:
          type: string
          format: date-time
        valueNumber:
          type: number
          nullable: true
        valueJson:
          type: object
          nullable: true
        dimensions:
          type: object
          nullable: true

paths:
  # Companies
  /api/v1/companies:
    post:
      operationId: createCompanies
      summary: Create/Update Companies
      description: Batch create or update company records
      tags:
        - Companies
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - companies
              properties:
                companies:
                  type: array
                  items:
                    $ref: '#/components/schemas/Company'
            example:
              companies:
                - name: "Acme Corporation"
                  externalCompanyId: "hubspot_12345"
                  domain: "acme.com"
                  ARR: 120000
                  attributes:
                    industry: "Technology"
                    employee_count: 500
      responses:
        '200':
          description: Batch operation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires companies:write scope

    get:
      operationId: listCompanies
      summary: List Companies
      description: |
        Get all companies for your enterprise with optional filtering and pagination.
        Supports filtering by stage (via stageKey or stageId) and by custom field values (via fields[fieldKey]).
      tags:
        - Companies
      security:
        - ApiKeyAuth: []
      parameters:
        - name: externalCompanyId
          in: query
          required: false
          schema:
            type: string
          description: Filter by custom external company ID
        - name: stageKey
          in: query
          required: false
          schema:
            type: string
          description: |
            Filter by stage key(s). Supports comma-separated values for multiple stages.
            Keys must match a `key` in the stage_definitions table.
          example: "lead,customer"
        - name: stageId
          in: query
          required: false
          schema:
            type: string
          description: |
            Filter by stage definition UUID(s). Supports comma-separated UUIDs.
            Can be combined with stageKey (intersection).
          example: "550e8400-e29b-41d4-a716-446655440000"
        - name: fields[fieldKey]
          in: query
          required: false
          schema:
            type: string
          description: |
            Filter by custom field values. Replace `fieldKey` with the actual field key
            from your field_definitions table (e.g. `fields[tier]=enterprise`).
            Multiple field filters are AND-ed — a company must match ALL specified filters.
            Matching is case-insensitive for text/enum fields.
          example: "enterprise"
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number for pagination (starts at 1)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
          description: Number of results per page (max 200)
      responses:
        '200':
          description: Paginated list of companies with stage and field value enrichment
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: Total number of matching companies
                      page:
                        type: integer
                      limit:
                        type: integer
                      totalPages:
                        type: integer
                      enterpriseId:
                        type: string
                        format: uuid
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires companies:read scope

  /api/v1/companies/aggregate:
    get:
      operationId: aggregateCompanies
      summary: Aggregate Companies
      description: >
        Group companies by stage, owner, org unit, or a custom field, returning a count
        per group. Pass a comma-separated `groupBy` (e.g. `stage,field:country`) for a
        compound cross-tab instead of a single breakdown. Filters compose with any
        `groupBy` choice.
      tags:
        - Companies
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AggGroupBy'
        - $ref: '#/components/parameters/AggStageKey'
        - $ref: '#/components/parameters/AggStageId'
        - $ref: '#/components/parameters/AggFields'
        - $ref: '#/components/parameters/AggFieldsAfter'
        - $ref: '#/components/parameters/AggFieldsBefore'
        - $ref: '#/components/parameters/AggKeyRoleUserId'
        - $ref: '#/components/parameters/AggKeyRoleKey'
        - $ref: '#/components/parameters/AggOrgUnitId'
        - $ref: '#/components/parameters/AggDate'
        - $ref: '#/components/parameters/AggCreatedAfter'
        - $ref: '#/components/parameters/AggCreatedBefore'
        - $ref: '#/components/parameters/AggGranularity'
      responses:
        '200':
          description: Group counts (or cross-tabbed rows, if `groupBy` was comma-separated)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AggregateResponse'
                  - $ref: '#/components/schemas/CompoundAggregateResponse'
        '400':
          description: Invalid groupBy, unknown field key, unsupported field type for grouping, or compound mode has too many distinct combinations (over 500) to return reliably
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires companies:read scope

  /api/v1/companies/{id}:
    get:
      operationId: getCompany
      summary: Get Company
      description: Get a single company by ID
      tags:
        - Companies
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Company UUID
      responses:
        '200':
          description: Company details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Company'
        '404':
          description: Company not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires companies:read scope

    delete:
      operationId: deleteCompany
      summary: Delete Company
      description: Delete a company
      tags:
        - Companies
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Company UUID
      responses:
        '200':
          description: Company deleted
        '404':
          description: Company not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires companies:delete scope

  # Accounts
  /api/v1/accounts:
    post:
      operationId: createAccounts
      summary: Create/Update Accounts
      description: Batch create or update account records
      tags:
        - Accounts
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accounts
              properties:
                accounts:
                  type: array
                  items:
                    $ref: '#/components/schemas/Account'
            example:
              accounts:
                - name: "Acme Enterprise Account"
                  externalAccountId: "CRM_ACC_001"
                  externalCompanyId: "hubspot_12345"
                  domain: "acme.com"
                  accountType: "enterprise"
                  ARR: 120000
                  metadata:
                    tier: "premium"
                    contract_start: "2024-01-01"
      responses:
        '200':
          description: Batch operation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires accounts:write scope

    get:
      operationId: listAccounts
      summary: List Accounts
      description: Get all accounts for your enterprise
      tags:
        - Accounts
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: List of accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires accounts:read scope

  /api/v1/accounts/aggregate:
    get:
      operationId: aggregateAccounts
      summary: Aggregate Accounts
      description: >
        Group accounts by stage, owner, org unit, or a custom field, returning a count
        per group. Pass a comma-separated `groupBy` (e.g. `stage,field:country`) for a
        compound cross-tab instead of a single breakdown. Filters compose with any
        `groupBy` choice.
      tags:
        - Accounts
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AggGroupBy'
        - $ref: '#/components/parameters/AggStageKey'
        - $ref: '#/components/parameters/AggStageId'
        - $ref: '#/components/parameters/AggFields'
        - $ref: '#/components/parameters/AggFieldsAfter'
        - $ref: '#/components/parameters/AggFieldsBefore'
        - $ref: '#/components/parameters/AggKeyRoleUserId'
        - $ref: '#/components/parameters/AggKeyRoleKey'
        - $ref: '#/components/parameters/AggOrgUnitId'
        - $ref: '#/components/parameters/AggDate'
        - $ref: '#/components/parameters/AggCreatedAfter'
        - $ref: '#/components/parameters/AggCreatedBefore'
        - $ref: '#/components/parameters/AggGranularity'
      responses:
        '200':
          description: Group counts (or cross-tabbed rows, if `groupBy` was comma-separated)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AggregateResponse'
                  - $ref: '#/components/schemas/CompoundAggregateResponse'
        '400':
          description: Invalid groupBy, unknown field key, unsupported field type for grouping, or compound mode has too many distinct combinations (over 500) to return reliably
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires accounts:read scope

  /api/v1/accounts/{id}:
    get:
      operationId: getAccount
      summary: Get Account
      description: Get a single account by ID
      tags:
        - Accounts
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Account UUID
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Account'
        '404':
          description: Account not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires accounts:read scope

    delete:
      operationId: deleteAccount
      summary: Delete Account
      description: Delete an account
      tags:
        - Accounts
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Account UUID
      responses:
        '200':
          description: Account deleted
        '404':
          description: Account not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires accounts:delete scope

  # Contacts
  /api/v1/contacts:
    post:
      operationId: createContacts
      summary: Create/Update Contacts
      description: Batch create or update contact records
      tags:
        - Contacts
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contacts
              properties:
                contacts:
                  type: array
                  items:
                    $ref: '#/components/schemas/ContactUpsert'
            example:
              contacts:
                - externalContactId: "contact_12345"
                  fullName: "John Doe"
                  title: "VP of Engineering"
                  emails:
                    - email: "john.doe@acme.com"
                      isPrimary: true
                      label: "Work"
                  phones:
                    - phone: "+1-555-123-4567"
                      isPrimary: true
                      label: "Mobile"
                  attributes:
                    linkedin: "https://linkedin.com/in/johndoe"
                    timezone: "America/New_York"
      responses:
        '200':
          description: Batch operation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires contacts:write scope

    get:
      operationId: listContacts
      summary: List Contacts
      description: Get all contacts for your enterprise
      tags:
        - Contacts
      security:
        - ApiKeyAuth: []
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number to return
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
          description: "Number of contacts to return per page (max: 200)"
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: Search by contact name, title, external contact ID, email, phone, or normalized phone
        - name: q
          in: query
          required: false
          schema:
            type: string
          description: Alias for search
        - name: phone
          in: query
          required: false
          schema:
            type: string
          description: Exact phone lookup using digits-only normalization
        - name: email
          in: query
          required: false
          schema:
            type: string
            format: email
          description: Exact email lookup
        - name: company_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by company UUID
        - name: stage
          in: query
          required: false
          schema:
            type: string
          description: Filter by contact stage key or stage definition UUID
        - name: key_role_user_id
          in: query
          required: false
          schema:
            type: string
          description: Filter by assigned key-role user UUID. Supports comma-separated values.
        - name: key_role_key
          in: query
          required: false
          schema:
            type: string
          description: Filter by key role key. Supports comma-separated values.
      responses:
        '200':
          description: List of contacts
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ListContact'
                  meta:
                    type: object
                    properties:
                      entity:
                        type: string
                        example: contacts
                      total:
                        type: integer
                        description: Total number of matching contacts
                      count:
                        type: integer
                        description: Number of contacts returned in this response
                      page:
                        type: integer
                      limit:
                        type: integer
                      totalPages:
                        type: integer
                      hasMore:
                        type: boolean
                      enterpriseId:
                        type: string
                        format: uuid
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires contacts:read scope

  /api/v1/contacts/aggregate:
    get:
      operationId: aggregateContacts
      summary: Aggregate Contacts
      description: >
        Group contacts by stage, owner, org unit, or a custom field, returning a count
        per group. Custom field grouping supports `text`, `number`, `boolean`, `enum`,
        `multi_enum` (an entity with 2+ selected values is counted once per value), and
        `date`/`datetime` (bucketed via `granularity`). Pass a comma-separated `groupBy`
        (e.g. `stage,field:ad_id,field:country`) for a compound cross-tab — one row per
        combination — instead of a single breakdown. Filters compose with any `groupBy`
        choice, e.g. filter to a stage/date range then group by a different dimension.
      tags:
        - Contacts
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AggGroupBy'
        - $ref: '#/components/parameters/AggStageKey'
        - $ref: '#/components/parameters/AggStageId'
        - $ref: '#/components/parameters/AggFields'
        - $ref: '#/components/parameters/AggFieldsAfter'
        - $ref: '#/components/parameters/AggFieldsBefore'
        - $ref: '#/components/parameters/AggKeyRoleUserId'
        - $ref: '#/components/parameters/AggKeyRoleKey'
        - $ref: '#/components/parameters/AggOrgUnitId'
        - $ref: '#/components/parameters/AggDate'
        - $ref: '#/components/parameters/AggCreatedAfter'
        - $ref: '#/components/parameters/AggCreatedBefore'
        - $ref: '#/components/parameters/AggGranularity'
      responses:
        '200':
          description: Group counts (or cross-tabbed rows, if `groupBy` was comma-separated)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AggregateResponse'
                  - $ref: '#/components/schemas/CompoundAggregateResponse'
        '400':
          description: Invalid groupBy, unknown field key, unsupported field type for grouping, or compound mode has too many distinct combinations (over 500) to return reliably
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires contacts:read scope

  /api/v1/contacts/{id}:
    get:
      operationId: getContact
      summary: Get Contact
      description: Get a single contact by ID (includes emails, phones, companies)
      tags:
        - Contacts
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Contact UUID
      responses:
        '200':
          description: Contact details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Contact'
        '404':
          description: Contact not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires contacts:read scope

    delete:
      operationId: deleteContact
      summary: Delete Contact
      description: Delete a contact
      tags:
        - Contacts
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Contact UUID
      responses:
        '200':
          description: Contact deleted
        '404':
          description: Contact not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires contacts:delete scope

   # Associations
  /api/v1/associations:
    get:
      operationId: getAssociations
      summary: Get Entity Associations
      description: Fetch enriched related entities for a contact, deal, company, or account
      tags:
        - Associations
      security:
        - ApiKeyAuth: []
      parameters:
        - name: entityType
          in: query
          required: true
          schema:
            type: string
            enum: [contact, deal, company, account]
          description: Type of entity to look up associations for
        - name: external_id
          in: query
          required: false
          schema:
            type: string
          description: External ID of the entity (use exactly one of external_id or internal_id)
        - name: internal_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Internal UUID of the entity (use exactly one of external_id or internal_id)
        - name: providerKey
          in: query
          required: false
          schema:
            type: string
            default: api
          description: Accepted for backward compatibility only. External IDs resolve from native CRM table columns.
      responses:
        '200':
          description: Enriched associations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociationResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires associations:read scope
        '404':
          description: Entity not found

    post:
      operationId: createAssociations
      summary: Create/Update Associations
      description: Batch create contact-company and contact-account relationships
      tags:
        - Associations
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - associations
              properties:
                associations:
                  type: array
                  items:
                    $ref: '#/components/schemas/Association'
            example:
              associations:
                - externalContactId: "contact_12345"
                  externalCompanyId: "company_67890"
                  relation: "employee"
                  isPrimary: true
      responses:
        '200':
          description: Batch operation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires associations:write scope

   # Calls
  /api/v1/calls:
    post:
      operationId: createCalls
      summary: Create Calls
      description: Batch create call records
      tags:
        - Calls
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - calls
              properties:
                calls:
                  type: array
                  items:
                    $ref: '#/components/schemas/Call'
            example:
              calls:
                - externalCallId: "call_12345"
                  direction: "inbound"
                  status: "completed"
                  fromNumber: "+1-555-123-4567"
                  toNumber: "+1-555-987-6543"
                  durationSeconds: 300
                  startTimestamp: "2024-01-15T10:00:00Z"
                  endTimestamp: "2024-01-15T10:05:00Z"
                  recordingUrl: "https://recordings.example.com/call_12345.mp3"
                  customer:
                    phone: "+1-555-123-4567"
                    name: "John Doe"
                    email: "john.doe@acme.com"
                  title: "Sales Follow-up Call"
      responses:
        '200':
          description: Batch operation completed
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires calls:write scope

    get:
      operationId: listCalls
      summary: List Calls
      description: Get all call records for your enterprise
      tags:
        - Calls
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: List of calls
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires calls:read scope

  /api/v1/calls/{id}:
    get:
      operationId: getCall
      summary: Get Call
      description: Get a single call record by ID
      tags:
        - Calls
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Call UUID
      responses:
        '200':
          description: Call details
        '404':
          description: Call not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires calls:read scope

  # Meetings
  /api/v1/meetings:
    post:
      operationId: createMeeting
      summary: Create/Update Meeting
      description: Create or update a meeting record
      tags:
        - Meetings
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Meeting'
            example:
              title: "Weekly Team Sync"
              channel: "gmeet"
              joinUrl: "https://meet.google.com/abc-defg-hij"
              scheduledStartAt: "2024-01-20T10:00:00Z"
              scheduledEndAt: "2024-01-20T11:00:00Z"
              status: "scheduled"
              externalMeetingId: "calendar_event_abc123"
              hostEmail: "john@example.com"
              participantEmails:
                - "john@example.com"
                - "jane@example.com"
              type: "internal"
      responses:
        '200':
          description: Meeting created/updated
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires meetings:write scope

    get:
      operationId: listMeetings
      summary: List Meetings
      description: Get all meetings for your enterprise
      tags:
        - Meetings
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: List of meetings
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires meetings:read scope

  /api/v1/meetings/{id}:
    get:
      operationId: getMeeting
      summary: Get Meeting
      description: Get a single meeting by ID
      tags:
        - Meetings
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Meeting UUID
      responses:
        '200':
          description: Meeting details
        '404':
          description: Meeting not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires meetings:read scope

    delete:
      operationId: deleteMeeting
      summary: Delete/Cancel Meeting
      description: Delete or cancel a meeting
      tags:
        - Meetings
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Meeting UUID
      responses:
        '200':
          description: Meeting deleted/cancelled
        '404':
          description: Meeting not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires meetings:delete scope

  # Fields
  /api/v1/fields/definitions:
    get:
      operationId: listFieldDefinitions
      summary: List Field Definitions
      description: Get all field definitions for an entity type
      tags:
        - Fields
      security:
        - ApiKeyAuth: []
      parameters:
        - name: entityType
          in: query
          required: true
          schema:
            type: string
            enum: [company, account, contact]
          description: Entity type to get definitions for
      responses:
        '200':
          description: List of field definitions
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires fields:read scope

    post:
      operationId: createFieldDefinition
      summary: Create Field Definition
      description: Create a new custom field definition
      tags:
        - Fields
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldDefinition'
      responses:
        '201':
          description: Field definition created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires fields:write scope

  /api/v1/fields/definitions/{id}:
    delete:
      operationId: deleteFieldDefinition
      summary: Delete Field Definition
      description: Delete a field definition
      tags:
        - Fields
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Field definition UUID
      responses:
        '200':
          description: Field definition deleted
        '404':
          description: Field definition not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires fields:delete scope

  /api/v1/fields/values:
    get:
      operationId: getFieldValues
      summary: Get Field Values
      description: Get field values for an entity
      tags:
        - Fields
      security:
        - ApiKeyAuth: []
      parameters:
        - name: entityType
          in: query
          required: true
          schema:
            type: string
            enum: [company, account, contact]
        - name: entityId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: Entity UUID
      responses:
        '200':
          description: Field values for the entity
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires fields:read scope

    post:
      operationId: setFieldValues
      summary: Set Field Values
      description: Set field values for an entity
      tags:
        - Fields
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - entityType
                - entityId
                - fields
              properties:
                entityType:
                  type: string
                  enum: [company, account, contact]
                entityId:
                  type: string
                  format: uuid
                fields:
                  type: array
                  items:
                    $ref: '#/components/schemas/FieldValue'
      responses:
        '200':
          description: Field values set
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires fields:write scope

  /api/v1/fields/values/batch:
    post:
      operationId: batchSetFieldValues
      summary: Batch Set Field Values
      description: Set field values for multiple entities
      tags:
        - Fields
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - entityType
                - entities
              properties:
                entityType:
                  type: string
                  enum: [company, account, contact]
                entities:
                  type: array
                  items:
                    type: object
                    required:
                      - entityId
                      - fields
                    properties:
                      entityId:
                        type: string
                        format: uuid
                      fields:
                        type: array
                        items:
                          $ref: '#/components/schemas/FieldValue'
      responses:
        '200':
          description: Batch operation completed
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires fields:write scope

  # Users
  /api/v1/users:
    get:
      operationId: listUsers
      summary: List Users
      description: List all users in your enterprise. Optionally filter by name or email using the `search` param.
      tags:
        - Users
      security:
        - ApiKeyAuth: []
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: Case-insensitive partial match on name or email
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires users:read scope

  /api/v1/users/{id}:
    get:
      operationId: getUser
      summary: Get User
      description: Get a single user by their ID
      tags:
        - Users
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User UUID
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/User'
        '404':
          description: User not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires users:read scope

  # Action Items
  /api/v1/action-items:
    get:
      operationId: listActionItems
      summary: List Action Items
      description: List action items for your enterprise. Filter by interactionId, ownerUserId, stageId, or priority.
      tags:
        - Action Items
      security:
        - ApiKeyAuth: []
      parameters:
        - name: interactionId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by interaction UUID
        - name: ownerUserId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by owner user UUID
        - name: stageId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by stageId
        - name: priority
          in: query
          required: false
          schema:
            type: string
            enum: [low, medium, high, blocker]
          description: Filter by priority
      responses:
        '200':
          description: List of action items
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActionItem'
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires action_items:read scope

    post:
      operationId: createActionItem
      summary: Create Action Item
      description: Create a new action item linked to an interaction
      tags:
        - Action Items
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionItemCreate'
            example:
              interactionId: "550e8400-e29b-41d4-a716-446655440000"
              title: "Follow up with procurement team"
              description: "Send the updated pricing deck by EOD Friday"
              ownerUserId: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
              priority: "high"
              dueAt: "2025-03-07T17:00:00Z"
      responses:
        '201':
          description: Action item created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ActionItem'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires action_items:write scope

  /api/v1/action-items/{id}:
    get:
      operationId: getActionItem
      summary: Get Action Item
      description: Get a single action item by ID
      tags:
        - Action Items
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Action item UUID
      responses:
        '200':
          description: Action item details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ActionItem'
        '404':
          description: Action item not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires action_items:read scope

    patch:
      operationId: updateActionItem
      summary: Update Action Item
      description: Partially update an action item. Only provided fields are changed.
      tags:
        - Action Items
      security:
[...]
